form {
  max-width: 400px;
  width: calc(100% - 1rem);
  background-color: white;
  padding: 1rem;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

label {
  font-size: small;
}

.ng-dirty.ng-invalid, .ng-touched.ng-dirty.ng-invalid {
  border-color: red;
  border-width: 1px;
}

.error {
  font-size: x-small;
  color: red;
}

#collection-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espace entre le titre et la barre de recherche */
  margin: 0 1rem; /* Marge horizontale pour éviter que le contenu touche les bords */
}

.collection-grid {
  display: flex;
  width: 100%;
  gap: 1rem; /* Espacement entre les cartes */
  flex-wrap: wrap; /* Permet aux cartes de se répartir sur plusieurs lignes */
  justify-content: center; /* Centrage horizontal */
}

.centered {
  text-align: center;
  margin-top: 1rem;
}

hr.gold {
  border-color: goldenrod;
}

hr.grey {
  border-style: dashed;
}

.host {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  align-content: space-between;
}

.action-buttons .left, .action-buttons .right {
  display: flex;
  gap: 1;
  flex-grow: 1;
}

.action-buttons .right {
  justify-content: right;
}